build/
release/
upload/
vendor/
.idea/
.vscode/
*.test
*.out
*.iml
.venv/
**/.venv/
*.tar.gz

*.log
**/puppers.log

version.txt
*.zip


**/*.swp
**/package-lock.json
**/__pycache__
**/.pytest_cache
**/*.egg-info

# CDK asset staging directory
**/.cdk.staging
node_modules